body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#popup {
  background-color: #eee8d5;
  min-width: 500px;
  pointer-events: none;
}

#popup p {
  margin: 0;
}

.colorTik {
  padding-right: 6px;
}

.itemStats {
  color: #8e8e8e;
  word-spacing: 3px
}

.itemName {
  margin-left: 5px;
  margin-right: 5px;
}

.linkable-button {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  padding: 0%;
  margin-right: 2%;
  text-decoration: underline;
  color: blue;
}